* {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $serif;
  font-weight: 380;
  font-variant-ligatures: common-ligatures;
  margin: 0;
  padding: 0;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.6;
}
a[href] {
  color: var(--link-color);
  text-underline-offset: 2px;
}

b,
strong {
  font-weight: 700;
}

a:hover {
  color: var(--link-hover);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid $lightgray;
  padding: 0.5rem 1em;
  text-align: left;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}