$serif: "Literata", Georgia, serif;
$sans: "Epilogue", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$mono: "IBM Plex Mono", Consolas, Menlo, Monaco, "Andale Mono", "Lucida Console",
  "Courier New", Courier, monospace;

$darkred: #c11b11;
$red: #ee453b;
$lightred: #f18680;
$lightestred: #fac1bf;

$gold: #ffb700;
$yellow: #ffde37;
$lightyellow: #fbf1a9;

$navy: #1a2249;

$washedyellow: #fffceb;
$washedred: #ffdfdf;

$black: #231c13;
$darkgray: #433c33;
$medgray: #5d574e;
$gray: #aba59c;
$lightgray: #e6e0d7;
$ivory: #f9f4eb;
$white: #fff;

$size0: 0.25em; /* 4px */
$size1: 0.5em; /* 8px */
$size2: 0.75em; /* 12px */
$size3: 1em; /* 16px */
$size4: 1.25em; /* 20px */
$size5: 1.5em; /* 24px */
$size6: 1.75em; /* 28px */
$size7: 2em; /* 32px */
$size8: 2.25em; /* 36px */
$size9: 2.5em; /* 40px */
$size10: 3em; /* 48px */

:root {
  --flow-space: 1em;

  --bg-color: #faf6ef;
  --bg-card: #e6e0d7;
  --text-color: #433c33;
  --light-text: #5d574e;
  --link-color: #433c33;
  --link-hover: #ee453b;


  font-size: calc(1rem + 0.275vw);
}
