@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #231c13;
        --bg-card: #433c33;
        --text-color: #f9f4eb;
        --light-text: #e6e0d7;
        --link-color: #f9f4eb;
        --link-hover: #f18680;
      }

      pre, code {
        background-color: $darkgray;
        color: $lightyellow;
      }

    #forecast_embed{
        background: $gray;
    }

  }
  