@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #171613;
        --bg-card: #38342d;
        --text-color: #f9f4eb;
        --light-text: #e6e0d7;
        --link-color: #f9f4eb;
        --link-hover: #f18680;
      }

      pre, code {
        background-color: var(--bg-card);
      }
  }
