@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #292929;
        --text-color: #faf9f9;
        --light-text: #c0c0c0;
        --link-color: #a4bfeb;
        --link-hover: #f18680;
      }

    pre, code {
        background-color: $black;
        color: $lightyellow;
    }  

    mark {
        background: $pink;
    }  

    #forecast_embed{
        background: #c6c6c6;
    }

  }
  