h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $sans;
    font-weight: 700;
    color: $darkgray;
}

h1 {
    font-size: $size6;
    letter-spacing: -1px;
        @media screen and (min-width: 36em) {
          font-size: $size8;
        }
        @media screen and (min-width: 60em) {
            font-size: $size9;
          }
}

h2 {
    font-size: $size5;
        @media screen and (min-width: 36em) {
            font-size: $size6;
        }
}


h3 {
    font-size: $size4;
    @media screen and (min-width: 36em) {
        font-size: $size5;
    }
}

h4 {
    font-size: $size3;
    @media screen and (min-width: 36em) {
        font-size: $size4;
    }
}

h5 {
    font-size: $size3;
    font-weight: 620;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $medgray;
}

h6 {
    font-size: $size2;
    font-weight: 520;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $medgray;
}




blockquote {
    margin: 1em 0;
    padding: .5rem 1.25rem;
    border-left: 4px solid $lightred;
    color: $medgray;
    max-width: 60ch;
    
  
    &,
    p {
      font-size: $size3;
    }
  
    + * {
      margin-top: 1rem;
    }
  
    :last-child {
      margin-bottom: 0;
    }
  }

figcaption{
    font-family: $mono;
    font-size: $size2;
    font-style: italic;
    color: $medgray;
}

p {
    max-width: 60ch;
}

p.lede {
    font-size: $size4;
}

dl dt {
    font-weight: 700;
}  

dl dd {
    padding-bottom: .75em;
}

.timestamp {
    font-family: $mono;
    font-size: $size2;
    display: block;
    color: $medgray;
    margin-bottom: 3rem;
}

sup a {
    text-decoration: none;
}