h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $sans;
    font-weight: 700;
    color: var(--text-color);
}

h1 {
    font-size: $size6;
    max-width: 28ch;
        @media screen and (min-width: 36em) {
          font-size: $size8;
          letter-spacing: -1px;
        }
        @media screen and (min-width: 60em) {
            font-size: $size9;
          }
}

h2 {
    font-size: $size5;
        @media screen and (min-width: 36em) {
            font-size: $size6;
        }
}


h3 {
    font-size: $size4;
    @media screen and (min-width: 36em) {
        font-size: $size5;
    }
}

h4 {
    font-size: $size3;
    @media screen and (min-width: 36em) {
        font-size: $size4;
    }
}

h5 {
    font-size: $size3;
    font-weight: 620;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--light-text);
}

h6 {
    font-size: $size2;
    font-weight: 520;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--light-text);
}




blockquote {
    margin: 1em 0;
    padding: .5rem 1.25rem;
    margin-left: -1.45rem;
    border-left: 4px solid $lightred;
    font-family: $serif;
    font-weight: 400;
    font-size: 1.15em;
    font-style: italic;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
    max-width: 60ch;
    
  
    &,
    p {
      font-variant-ligatures: common-ligatures discretionary-ligatures;
    }
  
    + * {
      margin-top: 1rem;
    }

    + figcaption {
      margin-top: $size1;
    }
  
    :last-child {
      margin-bottom: 0;
    }
}

figcaption{
    font-family: $mono;
    font-size: $size2;
    font-style: italic;
    color: var(--light-text);
}

p {
    max-width: 60ch;
}

p.lede {
    font-size: $size5;
    font-variant-ligatures: common-ligatures discretionary-ligatures;
}

dl dt {
    font-weight: 700;
}  

dl dd {
    padding-bottom: .75em;
}

ol,ul{
    padding: 0 1em;
}

.timestamp {
    font-family: $mono;
    font-size: $size2;
    display: block;
    color: var(--light-text);
    margin-bottom: 3rem;
}

sup a {
    text-decoration: none;
}

.text-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.serif {
    font-family: $serif;
}

.sans {
    font-family: $sans;
}

.mono {
    font-family: $mono;
}

.home-heading {
    font-size: clamp(1.8em, 4vw, 3.75rem);
}

.text-meta{
    font-family: $mono;
    font-size: $size2;
    color: var(--light-text);
}