---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hello!</h1>
My name is Nick and I design things for screens (mostly), paper (sometimes), and humans (always).

{% set maxPosts = collections.posts.length | min(1) %}
<h2>Read my latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}</h2>

{% set postslist = collections.posts | head(-1) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>You'll find plenty more to read in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
