
 @media (min-width: 40em) {

    img.book {
        max-width: 240px;
        height: auto;
        float: right;
        margin: 0 0 $size1 $size3;
        border: 1px solid rgba(0,0,0,0.1);
    }

}

.literal-book-item a {
    text-decoration: none;
    font-family: $sans;
}

#literal-widget .literal-book-item__title{
    color: var(--text-color)!important;
}

#literal-widget .literal-book-item__authors {
    color: var(--light-text)!important;
}

#literal-widget .literal-book-item__image_cover__outer img {
    border: 1px solid rgba(0,0,0,0.125)!important;
}