.bg-color-cycle {
    -webkit-animation: gradient 60s infinite alternate linear;
            animation: gradient 60s infinite alternate linear;
    background: hsl(1.7,100%,86.3%);
  }
  @-webkit-keyframes gradient {
    25% {
      background: hsl(282.7,91.7%,85.9%);
    }
    50% {
      background: hsl(180,69%,74.7%);
    }
    75% {
      background: hsl(48.2,98.6%,72.7%);
    }
  }
  @keyframes gradient {
    25% {
        background: hsl(282.7,91.7%,85.9%);
      }
      50% {
        background: hsl(180,69%,74.7%);
      }
      75% {
        background: hsl(48.2,98.6%,72.7%);
      }
  }
