
.darkred {
    color: $darkred;
}

.bg-darkred {
    background-color: $darkred;
}

.red {
    color: $red;
}

.bg-red {
    background-color: $red;
}

.lightred {
    color: $lightred;
}

.bg-lightred {
    background-color: $lightred;
}

.orange {
    color: $orange;
}

.bg-orange {
    background-color: $orange;
}

.gold {
    color: $gold;
}

.bg-gold {
    background-color: $gold;
}

.yellow {
    color: $yellow;
}

.bg-yellow {
    background-color: $yellow;
}

.lightyellow {
    color: $lightyellow;
}

.bg-lightyellow {
    background-color: $lightyellow;
}

.purple {
    color: $purple;
}

.bg-purple {
    background-color: $purple;
}

.lightpurple {
    color: $lightpurple;
}

.bg-lightpurple {
    background-color: $lightpurple;
}

.darkpink {
    color: $darkpink;
}

.bg-darkpink {
    background-color: $darkpink;
}

.hotpink {
    color: $hotpink;
}

.bg-hotpink {
    background-color: $hotpink;
}

.pink {
    color: $pink;
}

.bg-pink {
    background-color: $pink;
}

.lightpink {
    color: $lightpink;
}

.bg-lightpink {
    background-color: $lightpink;
}

.darkgreen {
    color: $darkgreen;
}

.bg-darkgreen {
    background-color: $darkgreen;
}

.green {
    color: $green;
}

.bg-green {
    background-color: $green;
}

.lightgreen {
    color: $lightgreen;
}

.bg-lightgreen {
    background-color: $lightgreen;
}

.navy {
    color: $navy;
}

.bg-navy {
    background-color: $navy;
}

.darkblue {
    color: $darkblue;
}

.bg-darkblue {
    background-color: $darkblue;
}

.blue {
    color: $blue;
}

.bg-blue {
    background-color: $blue;
}

.lightblue {
    color: $lightblue;
}

.bg-lightblue {
    background-color: $lightblue;
}

.lightestblue {
    color: $lightestblue;
}

.bg-lightestblue {
    background-color: $lightestblue;
}

.washedblue {
    color: $washedblue;
}
    
.bg-washedblue {
    background-color: $washedblue;
}

.washedgreen {
    color: $washedgreen;
}

.bg-washedgreen {
    background-color: $washedgreen;
}

.washedyellow {
    color: $washedyellow;
}

.bg-washedyellow{
    background-color: $washedyellow;
}

.washedred {
    color: $washedred;
}

.bg-washedred{
    background-color: $washedred;
}

.black {
    color: $black;
}

.bg-black {
    background-color: $black;
}

.darkgray {
    color: $darkgray;
}

.bg-darkgray {
    background-color: $darkgray;
}

.medgray {
    color: $medgray;
}

.bg-medgray {
    background-color: $medgray;
}

.gray {
    color: $gray;
}

.bg-gray {
    background-color: $gray;
}

.lightgray {
    color: $lightgray;
}

.bg-lightgray {
    background-color: $lightgray;
}

.white {
    color: $white;
}

.bg-white {
    background-color: $white;
}

.ivory {
    color: $ivory;
}

.bg-ivory {
    background-color: $ivory;
}