.float-left{
    display: block;

    @media screen and (min-width: 36em) {
        float: left;
        margin-right: $size3;
        padding-right: $size3;
    }
}

.float-right{
    display: block;
    @media screen and (min-width: 36em) {
        float: right;
        margin-left: $size5;
    }

}