.float-left{
    display: block;

    @media screen and (min-width: 36em) {
        float: left;
        margin-right: var(--size3);
        padding-right: var(--size3);
    }
}

.float-right{
    display: block;
    @media screen and (min-width: 36em) {
        float: right;
        margin-left: var(--size5);
    }

}