/**
 * FLOW
 * Applies a margin to sibling elements based on a --flow-space custom property.
 */

 .flow > * + * {
    margin-top: var(--flow-space);
  }

  

  .flow > h2 + * {
    margin-top: var(--size0);
  }
  
  .flow > h3 + * {
    margin-top: var(--size0);
  }
  
  .flow > h4 + * {
    margin-top: var(--size0);
  }
  
  .flow > h5 + * {
    margin-top: var(--size0);
  }
  
  .flow > h6 + * {
    margin-top: var(--size0);
  }