.webring-arrow{
    text-decoration: none;
    font-size: larger;
}

.footer-link, a.footer-link{
    text-decoration: underline;
}

.footer-link:hover, a.footer-link:hover{
    text-decoration-color: var(--link-hover);
}

.manicule{
    text-decoration: none !important;
    font-size: $size4;
    -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}