.padding-0{
    padding: $size0;
}

.padding-1{
    padding: $size1;
}

.padding-2{
    padding: $size2;
}

.padding-3{
    padding: $size3;
}

.padding-4{
    padding: $size4;
}

.padding-5{
    padding: $size5;
}

.padding-6{
    padding: $size6;
}

.padding-7{
    padding: $size7;
}