/* Header */
header.site-head:after {
  content: "";
  display: table;
  clear: both;
}



.home {
    font-family: $mono;
    font-weight: 400;
    padding: 0 1rem;
    margin: 1rem 0; /* 16px /16 */
    font-size: var(--size2); 
    text-transform: uppercase;
    z-index: 300;
    display: flex;
    flex-direction: column;
    float: left;
  
  }

  .home-id {
    padding: 2em .5em;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-flex;
    transform: rotate(90deg);
    @media screen and (min-width: 36em) {
      margin-left: -1rem;  
    }

  }

  .logo {
    float: right;
  }

  .home a:hover .logo .logo-path1, .home a:hover .logo .logo-path2 {
    fill: var(--darkred);
  }



  .home a:hover .logo {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

  .home a {
    color: var(--medgray);
  }

  .home :link {
    color: var(--medgray);
    text-decoration: none;
  }

  .home :link a:hover .home-id{
    color: var(--medgray);
    text-decoration: underline;
  }