body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main,
main.wrapper {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

header, footer {
    display: block;
}

.wrapper {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

.footer {
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: auto;
    font-family: $sans;
    font-size: $size2;
    opacity: 78%;
}

@media screen and (min-width: 88em) {
  .footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    font-size: 14px;
  }

  .footer div.footer-links{
    margin-top: -4px;
  }
}

@media screen and (max-width: 45em) {
  .superfluous{
    display: block;
  }
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 88%;
  width: 50em;
  padding-bottom: 10vh;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(var(--auto-grid-min-size,10rem),2fr));
  grid-gap: 1.5rem;
}

.gap-top-base {
  margin-top: 1rem;
}