body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main,
main.wrapper {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

header, footer {
    display: block;
}

.wrapper {
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

.footer {
    margin-top: auto;
    padding: $size3 $size2;
    text-align: center;
    font-family: $sans;
    font-size: $size2;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 88%;
	width: 50em;
}
