.navigation ul {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    gap: 0.3rem 0.8rem;
    padding: 0;
  }
  
  .navigation li {
    margin: 0.1rem .5em;
  }
  
  .navigation a {
    font-weight: 600;
    text-decoration: none;
    color: currentColor;
  }

  .navigation-item a[href] {
    color: $darkblue;
    text-decoration: none;
  }

  .navigation-item a:hover {
    color: $darkred;
  }

  .navigation-item-active {
    font-weight: 700;
    border-bottom: 4px solid $lightred;
  }
  
  .footer nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 2em 0 0;
  }

  .footer nav ul li a{
    font-weight: 500;
    color: $darkblue;
    text-decoration-thickness: 2px;
    text-decoration-color: $lightblue;
  }