.site-head {
    padding: 0.6rem 0;
    line-height: 1.1;
  }
  
  
  .site-head__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
  }
  
  .site-head__brand {
    display: block;
    width: 3rem;
  }

.home {
    font-family: $mono;
    font-weight: 400;
    padding: 0 1rem;
    margin: 1rem 0; /* 16px /16 */
    font-size: var(--size2); 
    text-transform: uppercase;
    z-index: 300;
    display: flex;
    flex-direction: column;
    width: 7rem;
  
  }

.home-id {
    padding: 1em .25em;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-flex;
    color: var(--text-light);
    text-decoration: underline;
    transform: rotate(90deg);
    margin-left: -3rem;

    @media screen and (max-width: 70em) {
      border: 0;
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
      }

  }

.home a:hover .home-id {
  color: $navy;
}


.home a:hover .logo .logo-path1, .home a:hover .logo .logo-path2 {
    fill: $navy;
  }


.home a:hover .logo {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}  

@media (prefers-color-scheme: dark) {
  .home a:hover .home-id {
    color: $gold;
  }
  
  
  .home a:hover .logo .logo-path1, .home a:hover .logo .logo-path2 {
      fill: $gold;
    }

}