/* Tags */
.post-tag {
    display: inline-block;
    font-family: $mono;
    vertical-align: text-top;
    font-size: 0.625em; /* 10px /16 */
    padding: 2px 4px;
    margin-left: 0.8em; /* 8px /10 */
    border: 1px solid $darkred;
    background-color: rgba(0,0,0,0);
    border-radius: 0.25em; /* 3px /12 */
    text-decoration: none;
  }

  .post-tag:hover {
    background-color: $lightyellow;
    border-color: $gold;
  }

.post-tag::before {
  content: "#";
}  

  a[href].post-tag,
  a[href].post-tag:visited {
    color:$darkred;
  }

  @media (prefers-color-scheme: dark) {
    .post-tag {
      background-color: rgba(0,0,0,0);
    }

    a[href].post-tag,
    a[href].post-tag:visited {
      color:$lightestred;
      border-color: $lightestred;
    }

    a[href].post-tag:hover {
      color: $gold;
      background-color: rgba(0,0,0,0);
      border-color: $gold;
    }
  }