<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!--<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">-->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />
  
  <link rel="webmention" href="https://webmention.io/www.nicksimson.com/webmention" />
  <link rel="pingback" href="https://webmention.io/www.nicksimson.com/xmlrpc" />
  </head>
  <body>
    <header class="site-head">
    <a href="#main-content" class="skip-link">Skip to content</a>
  <div class="wrapper">
    <div class="site-head__inner">

      <h1 class="home"><a href="{{ '/' | url }}" rel="author"><span class="home-id">{{ metadata.title }}</span>{% include "partials/brand.svg" %}</a></h1>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav class="navigation" aria-label="primary">
      <ul role="list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="navigation-item{% if entry.url == page.url %} navigation-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
  </div>
    </header>

      <!-- Delete this message
      <div class="warning flow">
        🚩 <em>Warning message goes here.</em>
      </div>
       -->

    <main id="main-content" {% if templateClass %} class="{{ templateClass }} flow container animate__animated animate__fadeIn"{% endif %}>

      {{ content | safe }}
    </main>

    <footer role="contentinfo" class="footer pt-7">

	<div>
Images and text © {{ helpers.currentYear() }} <a href="https://nicksimson.com" rel="author" class="footer-link" >Nick Simson</a>.
  
  <script type="text/javascript">
<!--
var r_text = new Array ();
r_text[0] = "Thanks for stopping by.";
r_text[1] = "This website does not track you.";
r_text[2] = "Some rights reserved.";
r_text[3] = "Batteries not included.";
r_text[4] = "Part of a balanced breakfast.";
r_text[5] = "All you fascists are bound to lose.";
r_text[6] = "Sweating the small stuff since 1987.";
r_text[7] = "Insert clever footer text here.";
r_text[8] = "The large print giveth and the small print taketh away.";
r_text[9] = "Have a wonderful day.";
r_text[10] = "Now, more than ever.";
r_text[11] = "Remember to update your copyright date on New Year’s Day.";
r_text[12] = "Your mileage may vary.";
r_text[13] = "Duty now for the future.";
r_text[14] = "Now with 18% more 🎸 Dad Rock.";
r_text[15] = "Your friendly neighborhood graphic designer.";
r_text[16] = "Void where prohibited.";
r_text[17] = "Congrats! You made it to the footer.";
r_text[18] = "Only the finest ingredients.";
r_text[19] = "Updated sporadically.";
r_text[20] = "Powered by HTML, CSS, and JavaScript.";
r_text[21] = "I like turtles.";
r_text[22] = "Please design responsibly.";
r_text[23] = "Millions of pixels served.";
r_text[24] = "Built with semantics. Powered by some antics.";
r_text[25] = "You can’t have too many eagles.";
r_text[26] = "Be kind. Please rewind.";
r_text[27] = "Made with ☕ in Knoxville, Tenn.";
r_text[28] = "Made with 🥃 in Knoxville, Tenn.";
r_text[29] = "Made with 🧡 in Knoxville, Tenn.";
var i = Math.floor(30*Math.random())
document.write('<span class="superfluous">' + r_text[i] + '</span>');
//-->
</script>
<noscript><span class="superfluous">Thanks for stopping by.</span></noscript>
  </div>

<div class="footer-links">
<a href="/accessibility/" class="footer-link">Accessibility</a> &nbsp; &#8226; &nbsp; <a href="#top"><span class="footer-link">Back to top</span> <span class="manicule">☝️</span></a>
</div>

</footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>