<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!--<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400..900;1,400..800&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Literata:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />
  
  <link rel="webmention" href="https://webmention.io/www.nicksimson.com/webmention" />
  <link rel="pingback" href="https://webmention.io/www.nicksimson.com/xmlrpc" />
  </head>
  <body>
    <header class="site-head">
    <a href="#main-content" class="skip-link">Skip to content</a>
  <div class="wrapper">
    <div class="site-head__inner">

      <h1 class="home"><a href="{{ '/' | url }}" rel="author"><span class="home-id">{{ metadata.title }}</span>{% include "partials/brand.svg" %}</a></h1>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav class="navigation" aria-label="primary">
      <ul role="list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="navigation-item{% if entry.url == page.url %} navigation-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
  </div>
    </header>

      <!-- Delete this message
      <div class="warning flow">
        🚩 <em>Warning message goes here.</em>
      </div>
       -->

    <main id="main-content" {% if templateClass %} class="{{ templateClass }} flow container animate__animated animate__fadeIn"{% endif %}>

      {{ content | safe }}
    </main>

    <footer role="contentinfo" class="footer pt-7">

	<p>Images and text © {{ helpers.currentYear() }} <a href="https://nicksimson.com" rel="author" >Nick Simson</a>.
 &nbsp;</p>

<div>
<a href="/accessibility/">Accessibility</a> &nbsp; &#8226; &nbsp; <a href="#top">Back to top</a>
<div>

</footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
