<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!--<link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">-->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/img/meta/apple-touch-icon.png" />
  <link rel="icon" href="/img/meta/favicon.svg" type="image/svg+xml" />
  
  </head>
  <body id="top">
    <header class="site-head">
    <a href="#main-content" class="skip-link">Skip to content</a>
  <div class="wrapper">
    <div class="site-head__inner">

      <h1 class="home"><a href="{{ '/' | url }}" rel="author"><span class="home-id">{{ metadata.title }}</span>{% include "partials/brand.svg" %}</a></h1>

    {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
    <nav class="navigation" aria-label="primary">
      <ul role="list">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="navigation-item{% if entry.url == page.url %} navigation-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
  </div>
    </header>

    <!-- Delete this message
      <div class="warning flow">
        🚩 <em>Warning message goes here.</em>
      </div>
    -->

    <main id="main-content" {% if templateClass %} class="{{ templateClass }} flow container animate__animated animate__fadeIn"{% endif %}>

      {{ content | safe }}
    </main>

    <footer role="contentinfo" class="footer pt-7">
	<div>
Images and text © {{ helpers.currentYear() }} <a href="https://nicksimson.com" rel="author" class="footer-link" >Nick Simson</a>.
  
  {% include "partials/superfluous.njk" %}

  </div>

<div class="footer-links">
<a href="/links/" class="footer-link">@nsmsn</a>
 &nbsp; &#8226; &nbsp; 
<a href="/accessibility/" class="footer-link">Accessibility</a>
 &nbsp; &#8226; &nbsp; 
 <a href="#top"><span class="footer-link">Back to top</span> <span class="manicule">☝️</span></a>
</div>

</footer>
   <!-- Current page: {{ page.url | url }} -->
  </body>
</html>