---
layout: layouts/base.njk
templateClass: tmpl-page
---

<style type="text/css">

    .social-links {
        list-style: thumbs;
    }

    @counter-style thumbs {
        system: cyclic;
        symbols: "🕳️" "📄" "🏀" "👨🏻‍💻" "🎧" "🫱🏽‍🫲🏻" "📚" "🦣" "💬" "✍️";
        suffix: " ";
    }

@supports (list-style: thumbs) {
    .social-links li {
        padding-left: .125rem;
    }
}

</style>


<h1>{{ title }}</h1>

{{ content | safe }}