---
layout: layouts/base.njk
templateClass: tmpl-page
---
<h1>{{ title }}</h1>
<style type="text/css">

    .now-list{
        list-style: thumbs;
    }

    @counter-style thumbs {
        system: cyclic;
        symbols: "💼" "🛠️" "👶" "🌵";
        suffix: " ";
    }

@supports (list-style: thumbs) {
    .now-list li {
        padding-left: .125rem;
    }
}

    
</style>

{{ content | safe }}

<a class="weatherwidget-io" href="https://forecast7.com/en/35d09n106d61/albuquerque/?unit=us" data-label_1="ABQ 📍 NM" data-label_2="Weather" data-font="Arial" data-theme="weather_one" >ABQ 📍 NM Weather</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>

<p>&nbsp;</p>

<small>This page was inspired by Derek Sivers’ <a href="https://nownownow.com/about">nownownow.com</a>.</small>