---
layout: layouts/base.njk
templateClass: tmpl-post
---


<article class="h-entry">

<h1 class="p-name">{{ title }}</h1>

<small class="timestamp">Published <time datetime="{{ page.date | w3Date }}" class="dt-published"><a class="u-url" href="{{ post.url | url }}">{{ page.date | longDate }}</a></time> by <a rel="author" class="p-author h-card" href="/info/">Nick</a></small>

<div class="e-content flow">
{{ content | safe }}
</div>
</article>

<div>
&nbsp;
</div>

<footer class="pagination">
<hr>
<ul class="list-unstyled pagination__inner">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li class="">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li class="">Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>

</footer>