---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<small class="timestamp">Published <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></small>

{{ content | safe }}

&nbsp;

<footer class="pagination">

<hr>
<ul class="list-unstyled pagination__inner">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li class="">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li class="">Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
</footer>