---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<img src="/img/misc/victory.png" alt="a hand with two extended fingers flashing the V for Victory or peace sign" class="float-right" width="300" height="300"/>
<h1>
      <script language="JavaScript">
        var myDate = new Date();
        if ( myDate.getHours() < 12 ) { document.write("Good morning."); }
        else if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 ) { document.write("Good afternoon."); }
        else if ( myDate.getHours() > 17 && myDate.getHours() <= 24 ) { document.write("Good evening.");
        } else { document.write("Hello."); }
      </script>
      <noscript>Howdy.</noscript>
    </h1>
<p class="lede">My name is Nick, which means <span class="bg-lightred black">“victory of the people.”</span> I design things for screens&nbsp;(mostly), paper&nbsp;(sometimes), and humans&nbsp;(always).</p>

&nbsp;
<h2>Lately...</h2>
<div class="flexo">
  <div class="panel">
  {% set maxPosts = collections.posts.length | min(1) %}
  <p>You can read my latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}:</p>

  {% set postslist = collections.posts | head(-1) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p>You’ll find plenty more to read in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
  </div>
  
  <p>I live in Knoxville, Tenn. and work as a public sector communication designer. You can learn more <a href="/info/">about&nbsp;me</a> or see what I’m up to&nbsp;<a href="/now/">now</a>.</p>
</div>