---
layout: layouts/home.njk
---
<div>
<div class="row flow">
  <div class="grid-third grid-last flow">
  <img src="/img/misc/victory.png" alt="a hand with two extended fingers flashing the V for Victory or peace sign" width="320" height="320" class="img-multiply animate__animated animate__fadeIn animate__slower"/>
  </div>
  <div class="grid-two-thirds flow">
    <h1>
      <script language="JavaScript">
        var myDate = new Date();
        if ( myDate.getHours() < 12 ) { document.write("Good morning."); }
        else if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 ) { document.write("Good afternoon."); }
        else if ( myDate.getHours() > 17 && myDate.getHours() <= 20 ) { document.write("Good evening.");
        } else { document.write("Hello."); }
      </script>
      <noscript>Howdy.</noscript>
    </h1>
    <p class="lede">My name is Nick, which means <em class="highlight">“victory of the people.”</em> I&nbsp;design things for screens&nbsp;(mostly), paper&nbsp;(sometimes), and humans&nbsp;(always).</p>

    &nbsp;

    <div class="h-card vcard p-author">
    <a href="https://nicksimson.com" class="u-url u-uid" rel="author"><img src="/img/misc/nick-and-zelda.jpg" alt="Nick Simson" width="80" height="80" class="img-circle u-photo hcard-photo vis-hidden"></a><span class="p-name vis-hidden">Nick Simson</span>
    <p><span class="p-note">I live in Knoxville, Tenn. and work as a public sector communication designer.</span> I’m <strong class="p-nickname">@nsmsn</strong> on <a href="https://github.com/nsmsn" rel="me">Github</a>, <a href="https://twitter.com/nsmsn" rel="me">Twitter</a>, and <a href="/info/#get-in-touch">a few other places</a>. You can learn more <a href="/info/">about&nbsp;me</a> or see what I’m up to&nbsp;<a href="/now/">now</a>.</p>
    </div>
    &nbsp;

    <h2>Lately...</h2>
      <div class="panel">
      {% set maxPosts = collections.posts.length | min(1) %}
      <p>You can read my latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}:</p>

      {% set postslist = collections.posts | head(-1) %}
      {% set postslistCounter = collections.posts | length %}
      {% include "postslist.njk" %}

      <p>You’ll find plenty more to read in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
 
  </div>
</div>
</div>

<div class="flow pt-7">

<h2 class="pt-6">Contents</h2>
<ul class="list-unstyled auto-grid">
  {% for item in toc.items %}
  <li>
  <div class="lib-item">
            <a class="lib-title" href="{{ item.url }}">/{{ item.title }}</a>
            <p>{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

</div>

<style>

.highlight {
  background-color: rgba(0,0,0,0.125);
}

</style>