---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div>
<div class="row flow">
  <div class="grid-third grid-last flow">
  <img src="/img/misc/victory-600.png" alt="a hand with two extended fingers flashing the V for Victory or peace sign" width="325" height="360" class="img-multiply animate__animated animate__fadeIn animate__slower"/>
  </div>
  <div class="grid-two-thirds flow">
    <h1>
      <script language="JavaScript">
        var myDate = new Date();
        if ( myDate.getHours() < 12 ) { document.write("Good morning."); }
        else if ( myDate.getHours() >= 12 && myDate.getHours() <= 17 ) { document.write("Good afternoon."); }
        else if ( myDate.getHours() > 17 && myDate.getHours() <= 24 ) { document.write("Good evening.");
        } else { document.write("Hello."); }
      </script>
      <noscript>Howdy.</noscript>
    </h1>
    <p class="lede">My name is Nick, which means <em class="bg-ivory">“victory of the people.”</em> I&nbsp;design things for screens&nbsp;(mostly), paper&nbsp;(sometimes), and humans&nbsp;(always).</p>

    &nbsp;

    <p>I live in Knoxville, Tenn. and work as a public sector communication designer. You can learn more <a href="/info/">about&nbsp;me</a> or see what I’m up to&nbsp;<a href="/now/">now</a>.</p>

    &nbsp;

    <h2>Lately...</h2>
      <div class="panel bg-color-cycle">
      {% set maxPosts = collections.posts.length | min(1) %}
      <p>You can read my latest {% if maxPosts == 1 %}post{% else %}{{ maxPosts }} posts{% endif %}:</p>

      {% set postslist = collections.posts | head(-1) %}
      {% set postslistCounter = collections.posts | length %}
      {% include "postslist.njk" %}

      <p>You’ll find plenty more to read in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
 
  </div>
</div>
</div>

<div class="flow pt-7">

<h2 class="pt-6">Contents</h2>
<ul class="list-unstyled auto-grid">
  {% for item in toc.items %}
  <li>
  <div class="lib-item">
            <a class="lib-title" href="{{ item.url }}">/{{ item.title }}</a>
            <p>{{ item.description }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

</div>


<style>

.warning, .bg-ivory {
  background-color: rgba(0,0,0,0.05);
}

.panel {
  border-color: rgba(0,0,0,0.075);
}

a.post-tag {
  background-color: rgba(0,0,0,0.075);
  color:var(-color-dark) !important;
}

a.post-tag:hover {
  background-color: rgba(0,0,0,0.9);
  color: #fff !important;
}

a.postlist-link {
  color: rgba(0,0,0,0.7);
  text-decoration-color: rgba(0,0,0,0.3);
}

</style>