---
layout: layouts/home.njk
permalink: /library/
---

<h1>Library</h1>

<p>A collection of books I've found enjoyable, instructive, useful, challenging, and&nbsp;inspired.</p>


<ul class="list-unstyled auto-grid">
  {% for item in library.items %}
  <li>
  <div class="lib-item">
            <a class="lib-title" href="{{ item.url }}">
            <img class="lib-cover" src="/img/library/{{ item.cover }}" alt="{{ item.title }}" loading="lazy" />
            <span>{{ item.title }}</span></a>
            <p>{{ item.author }}</p>
    </div>
  </li>
  {% endfor %}
</ul>

&nbsp;

<p>Some of these titles are available in my <a href="https://bookshop.org/shop/nsmsn">online book shop</a>.</p>
<small>Disclosure: I am an affiliate of <a href="https://bookshop.org/shop/nsmsn">Bookshop.org</a> and I will earn a 10% commission if you click through and make a purchase.</small>