---
layout: layouts/home.njk
permalink: /vinyl/

title: Vinyl
description: A collection of music I’ve accumulated over the years.
---

<h1>Vinyl</h1>

<p>A collection of music I’ve accumulated over the years. I only buy records I intend to listen to, so everything here has been played again and&nbsp;again.</p> 

<p>Releases are organized alphabetically by artist, and chronologically by release date. It will be some time before the collection is fully cataloged, so this page is very much a work in&nbsp;progress.</p>


<ul class="list-unstyled auto-grid">
  {% for item in vinyl.items %}
  <li>
  <div class="lib-item">
            <a class="lib-title" href="{{ item.url }}">
            <img class="lib-cover lib-vinyl" src="/img/vinyl/{{ item.cover }}" alt="" width="200" loading="lazy" />
            <span>{{ item.title }}</span></a>
            <p>{{ item.artist }}<br/>
            <span class="lib-item-year">{{ item.year }}</span></p>
    </div>
  </li>
  {% endfor %}
</ul>

&nbsp;

<h2>Favorite places to buy records</h2>
Yeah I buy stuff online, but nothing beats the experience of browsing a great independent record&nbsp;store.

<ul>
<li><a href="https://bookmans.com/">Bookmans</a> <span class="text-meta">(Flagstaff, Phoenix, Tucson)</span></li>
<li><a href="https://www.grimeys.com/">Grimey’s New &amp; Preloved Music</a> <span class="text-meta">(Nashville, TN)</span></li>
<li><a href="https://lostandfoundrecordstore.com/">Lost and Found Records</a> <span class="text-meta">(Knoxville, TN)</span></li>
<li><a href="https://www.lostpadrerecords.com/">Lost Padre Records</a> <span class="text-meta">(Santa Fe, NM)</span></li>
<li><a href="https://www.ravenrecordsandrarities.com/">Raven Records &amp; Rarities</a> <span class="text-meta">(Knoxville, TN)</span></li>
<li><a href="https://recordarchive.com/">Record Archive</a> <span class="text-meta">(Rochester, NY)</span></li>
<li><a href="https://www.ziarecords.com/">Zia Records</a> <span class="text-meta">(Phoenix, Tucson, Las Vegas)</span></li>
</ul>