<div id="microblog">
<script type="text/javascript"> 
<!-- 
rssfeed_url = new Array(); 
rssfeed_url[0]="https://log.nick.sh/feed.xml";  
rssfeed_frame_width="100%"; 
rssfeed_frame_height="520"; 
rssfeed_scroll="off"; 
rssfeed_scroll_step="6"; 
rssfeed_scroll_bar="on"; 
rssfeed_target="_blank"; 
rssfeed_font_size="16"; 
rssfeed_font_face="system-ui, sans serif"; 
rssfeed_border="off"; 
rssfeed_css_url="https://nick.sh/assets/logfeed.css"; 
rssfeed_title="on"; 
rssfeed_title_name=""; 
rssfeed_title_bgcolor="#000"; 
rssfeed_title_color="#fff"; 
rssfeed_title_bgimage=""; 
rssfeed_footer="off"; 
rssfeed_footer_name="rss feed"; 
rssfeed_footer_bgcolor="#fff"; 
rssfeed_footer_color="#333"; 
rssfeed_footer_bgimage=""; 
rssfeed_item_title_length="50"; 
rssfeed_item_title_color="#666"; 
rssfeed_item_bgcolor="#ccc"; 
rssfeed_item_bgimage=""; 
rssfeed_item_border_bottom="on"; 
rssfeed_item_source_icon="off"; 
rssfeed_item_date="on"; 
rssfeed_item_description="on"; 
rssfeed_item_description_length="300"; 
rssfeed_item_description_color=""; 
rssfeed_item_description_link_color="#"; 
rssfeed_item_description_tag="off"; 
rssfeed_no_items="3"; 
rssfeed_cache = "ce8f12b41eec586691534d7883d9c244"; 
//--> 
</script> 
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
<noscript>Visit <a href="https://log.nick.sh/" class="bold sans">log.nick.sh</a> for some recent updates.</noscript>
</div>

<div style="text-align:right;font-family:system-ui,sans-serif;font-size:14px;opacity: 85%">
<p>Get updates via <a href="https://mastodon.design/@nsmsn" rel="me">Mastodon</a>, <a href="https://micro.blog/nsmsn">Micro.blog</a>, or&nbsp;<a href="https://log.nick.sh/feed.xml">RSS</a>.</p>
<small class=""><a href="https://surfing-waves.com/feed.htm" rel="noopener" target="_blank">Free RSS widget by Surfing Waves</a></small>
</div>