<span id="randomText" class="superfluous">Thanks for stopping by.</span>

<script type="text/javascript">
  var r_text = [
    "Thanks for stopping by.",
    "This website does not track you.",
    "Objects in the DOM are closer than they appear.",
    "Batteries not included.",
    "Part of a balanced breakfast.",
    "Sweating the small stuff since 1987.",
    "Insert clever footer text here.",
    "The large print giveth and the small print taketh away.",
    "Now, more than ever.",
    "Poetry is code.",
    "Your mileage may vary.",
    "Duty now for the future.",
    "Now with 33⅓ percent more 🎸 Dad Rock.",
    "Your friendly neighborhood graphic designer.",
    "Void where prohibited.",
    "Congrats! You made it to the footer.",
    "Only the finest ingredients.",
    "Updated sporadically.",
    "Powered by HTML, CSS, and JavaScript.",
    "Please design responsibly.",
    "Millions of pixels served.",
    "No Neopets were harmed in the making of this website.",
    "You can’t have too many eagles.",
    "Be kind. Please rewind.",
    "You Are Here. 🌎🌍🌏",
    "Made with 🌶️ in New Mexico."
  ];

  var randomIndex = Math.floor(Math.random() * r_text.length);
  var randomText = r_text[randomIndex];

  var spanElement = document.getElementById("randomText");
  spanElement.textContent = randomText;
</script>