  <script type="text/javascript">
<!--
var r_text = new Array ();
r_text[0] = "Thanks for stopping by.";
r_text[1] = "This website does not track you.";
r_text[2] = "Objects in the DOM are closer than they appear.";
r_text[3] = "Batteries not included.";
r_text[4] = "Part of a balanced breakfast.";
r_text[5] = "Sweating the small stuff since 1987.";
r_text[6] = "Insert clever footer text here.";
r_text[7] = "The large print giveth and the small print taketh away.";
r_text[8] = "Now, more than ever.";
r_text[9] = "A div is not a button.";
r_text[10] = "Your mileage may vary.";
r_text[11] = "Duty now for the future.";
r_text[12] = "Now with 33⅓ percent more 🎸 Dad Rock.";
r_text[13] = "Your friendly neighborhood graphic designer.";
r_text[14] = "Void where prohibited.";
r_text[15] = "Congrats! You made it to the footer.";
r_text[16] = "Only the finest ingredients.";
r_text[17] = "Updated sporadically.";
r_text[18] = "Powered by HTML, CSS, and JavaScript.";
r_text[19] = "Please design responsibly.";
r_text[20] = "Millions of pixels served.";
r_text[21] = "No bytes were harmed in the making of this website.";
r_text[22] = "You can’t have too many eagles.";
r_text[23] = "Be kind. Please rewind.";
r_text[24] = "You Are Here. 🌎🌍🌏";
r_text[25] = "Made with 🧡 in Knoxville, Tenn.";
var i = Math.floor(26*Math.random())
document.write('<span class="superfluous">' + r_text[i] + '</span>');
//-->
</script>
<noscript><span class="superfluous">Thanks for stopping by.</span></noscript>