  <script type="text/javascript">
<!--
var r_text = new Array ();
r_text[0] = "Thanks for stopping by.";
r_text[1] = "This website does not track you.";
r_text[2] = "Some rights reserved.";
r_text[3] = "Batteries not included.";
r_text[4] = "Part of a balanced breakfast.";
r_text[5] = "All you fascists are bound to lose.";
r_text[6] = "Sweating the small stuff since 1987.";
r_text[7] = "Insert clever footer text here.";
r_text[8] = "The large print giveth and the small print taketh away.";
r_text[9] = "Have a wonderful day.";
r_text[10] = "Now, more than ever.";
r_text[11] = "Remember to update your copyright date on New Year’s Day.";
r_text[12] = "Your mileage may vary.";
r_text[13] = "Duty now for the future.";
r_text[14] = "Now with 18% more 🎸 Dad Rock.";
r_text[15] = "Your friendly neighborhood graphic designer.";
r_text[16] = "Void where prohibited.";
r_text[17] = "Congrats! You made it to the footer.";
r_text[18] = "Only the finest ingredients.";
r_text[19] = "Updated sporadically.";
r_text[20] = "Powered by HTML, CSS, and JavaScript.";
r_text[21] = "I like turtles.";
r_text[22] = "Please design responsibly.";
r_text[23] = "Millions of pixels served.";
r_text[24] = "No HTML specs were harmed in the making of this website.";
r_text[25] = "You can’t have too many eagles.";
r_text[26] = "Be kind. Please rewind.";
r_text[27] = "Bring Your Own Boo’yeah.";
r_text[28] = "You Are Here.";
r_text[29] = "We are the Custard Pie Appreciation Consortium.";
r_text[30] = "I know all the fonts.";
r_text[31] = "We have standards here.";
r_text[32] = "Designer by day. Designer by night.";
r_text[33] = "Made with 🧡 in Knoxville, Tenn.";
var i = Math.floor(34*Math.random())
document.write('<span class="superfluous">' + r_text[i] + '</span>');
//-->
</script>
<noscript><span class="superfluous">Thanks for stopping by.</span></noscript>